body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
img{
    width: 100%;
}
h1{
    font-size: 60px;
    color: #575757;
}
h3{
    color: white;
}
p{
    font-size: 20px;
    color: #828282;
}
.button-beautyfier{
    text-decoration: none;
    padding: 15px 40px;
    background-image: linear-gradient(orange,tomato);
    border-radius: 25px;
    color: whitesmoke;
    font-weight: 800;
}
section{
    display: flex;
}
.top-section{
    background-image: url(images/Frame58.jpg);
    background-repeat: no-repeat;
    width: 100%;
    
}
.half-width{
    width: 50%;
    padding: 5%;
    
}
.word-highlighter{
    color: orange;
}
.middle-section{
    background-image: url(images/71.PNG);
    background-repeat: no-repeat;
    width: 100%;
}
#image-of-middle-section{
    width: 58.5%;
    margin-left: 10%;
}
#My-recipe-handler{
    margin: 0% 33%;
}
.footer-section{
    height: 300px;
    width: 100%;
    background-color: black;   
}
.footer-handler{
    margin: 10px 450px;
    padding: 10px 10px;
    width: 100%;

}
.food-container{
    margin: 10% 3%;
    padding: 10px 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 10px 10px 30px grey;
    
}